<!doctype html>
<head>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script>
var captions = {{ captions | safe }};
	</script>

	<script>
var player;

function resize() {
	var iframe = $("iframe");
	var by = $(window).height() / iframe.height();
	iframe.height($(window).height());
	iframe.width(iframe.width() * by);
}

function setupDrawingInterval() {
	setInterval(function() {
		for (let caption of captions) {
			var time = player.getCurrentTime();
			if (time >= caption.time && time <= caption.time + caption.duration && !caption.visible) {
				caption.visible = true;
				caption.element = $('<div class="caption">' + caption.text + '</div>');
				caption.element.css("left", caption.x + "%").css("top", caption.y + "%");
				caption.element.css("font-size", caption.size + "em");
				$("#captions").append(caption.element);
			}
			if ((time < caption.time || time > caption.time + caption.duration) && caption.visible) {
				caption.visible = false;
				caption.element.remove();
			}
		}
	}, 100);
}

function onYouTubeIframeAPIReady() {
	player = new YT.Player('player', {
		videoId: 'PC57z-oDPLs',
		playerVars: {
			autoplay: 1,
			playlist: 'PC57z-oDPLs',
			loop: 1,
			showinfo: 0,
			controls: 0
		},
		events: {
			'onReady': setupDrawingInterval
		}
	});

	resize();
	$(window).resize(resize);
}
	</script>

	<style type="text/css">
body {
	margin: 0;
	background-color: black;
	overflow: hidden;
}

#info {
	position: absolute;
	color: white;
}

#player {
	display: block;
	margin: 0 auto;
}

.caption {
	color: white;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
}
	</style>
</head>

<body>
	<div id="info">captions: {{ captions }}</div>
	<div id="captions"></div>
	<div id="player"></div>
</body>

</html>
